version: '3'

services:

  postgres:
    build:
      context: ./postgres
    volumes:
      - ./data:/var/lib/postgresql/data
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
