POSTGRES_PASSWORD=changeme
DB_PASS=changeme

# If not using docker-compose overriding i.e. not doing '-f development.yaml',
# you can uncomment the following to expose the ENV from here.
#
#POSTGRES_USER=postgres
#DB_USER=db_user
#DB_API=db_api
#DB_CORE=db_core